---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Custom - Fonts
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-family-italic: Helvetica, Arial, sans-serif;
$base-font-family-bold: Helvetica, Arial, sans-serif;
$base-font-family-bold-italic: "Opens Sans Bold Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.85;
$base-line-height: 1.5;

$ostrich: "Ostrich Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ostrich-heavy: "Ostrich Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;

$open-sans: "Opens Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$open-sans-italic: "Opens Sans Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$open-sans-bold: "Opens Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$open-sans-bold-italic: "Opens Sans Bold Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-white: #FFFFFF;
$color-black: #111111;
$color-code-bg: #F0F2F5;
$color-qube-dark: #99bfff;
$color-qube-middle: #63a0ff;
$color-qube-light: #3874d8;

// Custom - Sizing & Widths
$spacing-unit: 30px;
$base-radius: 5px;

$content-width:    1024px;
$on-palm:          600px;
$on-laptop:        800px;
$on-laptop-wide:   1150px;

/* Bootstrap imports */

// Core variables and mixins
@import "variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
//@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
//@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
//@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
//@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
        "header",
        "layout",
        "footer",
        "syntax-highlighting",
        "extras",
        "home",
        "post",
        "pages",
				"toc",
        "docs";

// Custom - Icon Colors
.black-icon        {color: #000000;}
.fa-twitter        {color: #00aced;}
.fa-reddit         {color: #ff8b60;}
.fa-facebook       {color: #3b5998;}
.fa-stack-exchange {color: #3399ff;}
.fa-rss-square     {color: #f26f22;}

// Custom - Article Tables
article table {
    border-collapse: collapse;
}
article td, article th {
    border: 1px solid #ddd;
    padding: 12px 48px;
}
article tr:nth-child(even) {
    background-color: #f2f2f2;
}
article tr:hover {
    background-color: #ddd;
}
article th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $color-qube-light;
    color: white;
}
