---
layout: news
title: News
permalink: /news/
redirect_from: /en/news/
---

<ul class="list-unstyled remove-bottom">
{% for post in site.posts %}
  <li>
    <h2 class="post-title remove-top remove-bottom">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
        {% if post.redirect_to %}
        <i class="fa fa-external-link"></i>
        {% endif %}
      </a>
    </h2>
    <p class="post-meta">
      {{ post.date | date: "%b %-d, %Y" }}
      by <strong>
      {% assign author_team = false %}
      {% for member in site.data.team %}
        {% if post.author == member.name %}
          {% assign author_team = true %}
        {% endif %}
      {% endfor %}
      {% if post.author %}
        {% if author_team %}
          <a href="/team/#{{ post.author | slugify }}">{{ post.author }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
      {% else %}
        {{ site.default_author }}
      {% endif %}
      </strong>
      in <strong>
      {% if post.categories.first %}
        {% for category in post.categories %}
          <a href="/news/categories/#{{ category | slugify }}">{{ category | capitalize }}</a>{% if forloop.index < forloop.length %},{% endif %}
        {% endfor %}
      {% else %}
        <a href="/news/categories/#{{ site.default_category | slugify }}">{{ site.default_category | capitalize }}</a>
      {% endif %}
      </strong>
    </p>
    {% if post.download_url %}
    <a href="{{post.download_url}}" class="btn btn-info btn-sm"><i class="fa fa-download"></i> Download</a>
    {% endif %}
    {% if forloop.index < forloop.length %}<hr>{% endif %}
  </li>
{% endfor %}
</ul>
