<div class="more-bottom white-box page-content">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="page-source-side remove-bottom">
        <h3 class="remove-bottom">Contents</h3>
      </div>
      <a id="toc-button" data-toggle="collapse" href="#page-toc" class="btn btn-primary btn-block" role="button">Contents</a>
      <div id="page-toc" class="collapse in"></div>
      <div class="page-source-side">
      {% include doc-widget.html %}
      </div>
    </div>
    <div class="toc-button-spacer more-bottom"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 page-content-right">
      <article id="doc-content" class="post-content">
        {{ content }}
      </article>
    <br>
    </div>
  </div>
  <div class="page-source-bottom">
  {% include doc-widget.html %}
  </div>
</div>
{% include footer.html %}
<script src="/js/jquery.toc.js"></script>
<script>
$(document).ready(function() {
  $('#doc-content').toc({
    renderIn: '#page-toc',
    anchorPrefix: 'tocAnchor-', // the default prefix used for generated TOC elements IDs
    showAlways: true, //Show TOC also if only one H1 is present on page, the TOC is never show if no H1s are found on page
    saveShowStatus: false, // Save the collapse status using a cookie (see dependecies for further details)
    contentsText: 'Contents', // The label text shown for Content, you can localize passing another string
    hideText: 'hide', // The label text shown for hide button, you can localize passing another string
    showText: 'show' // The label text shown for show button, you can localize passing another string
  })
})
</script>
<script src="/js/anchor.min.js"></script>
<script>
  anchors.add();
</script>
