{% assign doc_segments = page.relative_path | split: '/' %}
{% if page.lang == nil or page.lang == "en" %}
  {% assign indexed = site.data.index %}
  {% assign lang = "" %}
{% else %}
  {% assign lang = "/" | append: page.lang %}
  {% assign indexed = site.data.translation[page.lang].index %}
  {% if indexed == nil or indexed.size == 0 %}
    {% assign indexed = site.data.index %}
  {% endif %}
{% endif %}

{% assign doc_link = lang | append: "/doc/" %}
{% assign doc_ind = site.doc | concat: site.qubes-translated | where:'permalink', doc_link %}
{% if doc_ind.size == 0 %}
  {% assign doc_link = "/doc/" %}
  {% assign indexed = site.data.index %}
{% endif %}

{% if page.permalink == doc_link %}
    {% assign meta = indexed | where_exp: "item", "item.topic != nil" %}
    <h1 class="more-top add-left outer-heading">
    <a href="{{ doc_link }}" class="heading-link">
      <i class="fa fa-book"></i> {{ meta[0].metatopic }}</a>
    </h1>
{% else %}

{% assign ind = indexed | where_exp: "item", "item.topic == nil" %}

{% for section in ind %}
  {% if doc_segments contains section.category %}
  <!-- TODO please rename the documenation subfolders according to the index.yml file and its categories in _data folder, thank  you, fuck -->
    {% assign s = section.title | slugify %}
    <h1 class="more-top add-left outer-heading">
        <a href="{{ doc_link }}#{{ s }}" class="heading-link">
        <i class="fa fa-book"></i>
          {{ section.category | replace: "-", " "}}
      </a>
    </h1>
    {% if section.category == "external" %}
      {% include doc-warning-external.html %}
    {% elsif doc_segments contains 'advanced-topics' or page.advanced %}
      {% include doc-warning-advanced.html %}
    {% endif %}
  {% endif %}
{% endfor %}

{% endif %}
