<!-- Variables -->
{% include variables.html %}
<!-- Create heading -->
{% if page.permalink == doc_link %}
  {% assign meta = doc-index | where_exp: "item", "item.topic != nil" %}
  <h1 class="more-top add-left outer-heading">
  <a href="{{ doc_link }}" class="heading-link">
    <i class="fa fa-book"></i> {{ meta[0].metatopic }}</a>
  </h1>
{% else %}
  {% assign ind = doc-index | where_exp: "item", "item.topic == nil" %}
  {% for section in ind %}
    <!-- Section heading -->
    {% if doc_segments contains section.category %}
      <h1 class="more-top add-left outer-heading">
        <a href="{{ doc_link }}#{{ section.title | slugify }}" class="heading-link">
          <i class="fa fa-book"></i>{{ section.title }}
        </a>
        <!-- Breadcrumb heading -->
        {% for subsection in section.sub-pages %}
          {% if doc_segments contains subsection.subcategory %}
            /
            <a href="{{ doc_link }}#{{ subsection.title | slugify }}" class="heading-link">
              {{ subsection.title }}
            </a>
          {% endif %}
        {% endfor %}
      </h1>
    {% endif %}
  {% endfor %}
{% endif %}
