<!-- Localization -->
{% if page.lang == nil or page.lang == "en" %}
  {% assign doc_content = site.data.includes %}
{% else %}
  {% assign doc_content = site.data.translation[page.lang].includes %}
  {% if doc_content == nil or doc_content.size == 0 %}
    {% assign doc_content = site.data.includes %}
  {% endif %}
{% endif %}
{% assign docs = doc_content | where_exp: "item", "item.section == 'doc-content'" | first %}
<!-- Opening HTML for doc content -->
{% include doc-sidebar-start.html %}
<!-- BEGIN CONTENT -->
{% assign doc_segments = page.relative_path | split: '/' %}
{% if section.category == "external" %}
  {% include doc-alert-external.html %}
{% elsif doc_segments contains 'advanced-topics' or page.advanced %}
  {% include doc-alert-advanced.html %}
{% endif %}
<h1>{{ page.title }}</h1>
{{ content }}
<!-- Check whether the current page's permalink ends in a specific word.
     If it does, include content specific to that page. -->
{% assign perm_last_part = page.url | split: '/' | last | lstrip %}
{% if perm_last_part == "qsb"  %}
   {% include sec-qsb.html %}
{% endif %}
{% if perm_last_part == "canary"  %}
   {% include sec-canary.html %}
{% endif %}
{% if perm_last_part == "xsa"  %}
   {% include sec-xsa.html %}
{% endif %}
{% if perm_last_part == "style-guide" %}
   {% include style-guide.html %}
{% endif %}
<!-- END CONTENT -->
<!-- Closing HTML for doc content -->
{% include doc-sidebar-end.html %}
