<!-- Variables -->
{% include variables.html %}
{% assign reviewed = includes | where_exp: "item", "item.section == 'doc-reviewed'" | first %}
{% assign not-reviewed = includes | where_exp: "item", "item.section == 'doc-not-reviewed'" | first %}
<!-- Alerts -->
{% if page.reviewed %}
<div class="alert alert-success" role="alert">
  <i class="fa fa-check-circle"></i>
  {{ reviewed.text }} {{ page.release }}.
</div>
{% else %}
<div class="alert alert-sticky alert-warning" role="alert">
  <i class="fa fa-history"></i>
  {{ not-reviewed.text }}
</div>
{% endif %}
