<!-- Variables -->
{% include variables.html %}
{% assign docs = includes  | where_exp: "item", "item.section == 'doc-widget'" | first %}
<!-- Localization -->
{% if page.lang == nil or page.lang == "en" %}
  {% assign master_edit =  site.project_repo_path | append: "/qubes-doc/edit/master" | append: page.relative_path | remove_first: '_doc'  %}
  {% assign master_blob =  site.project_repo_path | append: "/qubes-doc/blob/master" | append: page.relative_path | remove_first: '_doc'  %}
  {% assign pagelang = "" %}
  {% assign transifexresource = page.relative_path | replace: '_doc/', 'doc/' | remove: ".md" | replace: "/", "_" %}
{% else %}
  {% assign master_edit =  site.project_repo_path | append: "/qubes-translated/edit/master" | append: page.relative_path | remove_first: '_translated'  %}
  {% assign master_blob =  site.project_repo_path | append: "/qubes-translated/blob/master" | append: page.relative_path | remove_first: '_translated'  %}
  {% assign pagelang = page.lang %}
  {% assign prefix = "_translated/" | append: pagelang | append: '/' %}
  {% assign transifexresource = page.relative_path | remove_first: prefix | replace: '_doc/', 'doc/' | remove: ".md" | replace: "/", "_" %}
{% endif %}
<!-- Button links -->
{% for item in docs.links %}
  {% if item.icon == "fa-book" %}
    {% assign a_class = "btn btn-primary btn-block" %}
  {% else %}
    {% assign a_class = "page-source-link btn btn-default btn-block" %}
  {% endif %}
  {% if item.icon == "fa-code" %}
    {% assign a_href = master_blob %}
  {% elsif item.icon == "fa-code-fork" %}
    {% if lang != "" %}
      <!-- skip "Edit This Page" button on translated pages, link to Transifex only -->
      {% continue %}
    {% endif %}
    {% assign a_href = master_edit %}
  {% elsif item.icon == "fa-language" %}
    {% assign a_href = "https://www.transifex.com/otf/qubes/translate/#" | append: pagelang | append: "/" | append: transifexresource %}
  {% else %}
    {% assign a_href = item.url %}
  {% endif %}
  <a href="{{ a_href }}" class="{{ a_class }}" title="{{ item.text }}">
    <span class="fa fa-fw {{ item.icon }}"></span> {{ item.text }}
  </a><br>
{% endfor %}
