<a href="/doc/"
   class="btn btn-primary btn-block"
   title="Go to Documentation">
  <span class="fa fa-fw fa-book"></span> Documentation
</a><br>
<a href="/doc/doc-guidelines/"
   class="page-source-link btn btn-default btn-block"
   title="Improve the Docs"
   target="_blank">
  <span class="fa fa-fw fa-pencil"></span> Improve the Docs
</a><br>
<a href="{{ site.project_repo_path }}/qubes-doc/blob/master{{ page.relative_path | remove_first: '_doc' }}"
   class="page-source-link btn btn-default btn-block"
   title="View page source"
   target="_blank">
  <span class="fa fa-fw fa-code"></span> View Page Source
</a><br>
<a href="{{ site.project_repo_path }}/qubes-doc/edit/master{{ page.relative_path | remove_first: '_doc' }}"
   class="page-source-link btn btn-default btn-block"
   title="Edit this page"
   target="_blank">
  <span class="fa fa-fw fa-code-fork"></span> Edit This Page
</a><br>
<a href="/security/"
   class="page-source-link btn btn-default btn-block"
   title="Report a Security Issue"
   target="_blank">
  <span class="fa fa-fw fa-lock"></span> Report a Security Issue
</a><br>
<a href="/doc/reporting-bugs/"
   class="page-source-link btn btn-default btn-block"
   title="Report a Bug"
   target="_blank">
  <span class="fa fa-fw fa-bug"></span> Report a Bug
</a><br>
<a href="/support/"
   class="page-source-link btn btn-default btn-block"
   title="Help & Support"
   target="_blank">
  <span class="fa fa-fw fa-life-ring"></span> Help & Support
</a><br>
<a href="/donate/"
   class="page-source-link btn btn-default btn-block"
   title="Make a Donation"
   target="_blank">
  <span class="fa fa-fw fa-heart"></span> Make a Donation
</a>
