<!-- Variables -->
{% include variables.html %}
<!-- Showcase -->
{% assign surv = downloads-page | where_exp: "item", "item.htmlsection == 'survey'" | first %}
<div class="row">
  <div class="col-xs-12">
    <h3>{{ surv.title }}</h3>
    <p>{{ surv.paragraph }}</p>
    <a class="btn btn-lg btn-primary add-bottom" href="{{ surv.url }}">{{ surv.text }}</a>
  </div>
</div>
<hr class="more-bottom">
<!-- Downloads by release -->
{% assign ls = downloads-page | where_exp: "item", "item.htmlsection == 'loop-releases'" | first %}
{% assign test = ls.releases | where_exp: "item", "item.r_version == 'testing'" | first %}
{% assign stable = ls.releases | where_exp: "item", "item.r_version == 'stable'" | first %}
{% assign old = ls.releases | where_exp: "item", "item.r_version == 'old'" | first %}
{% assign depr = ls.releases | where_exp: "item", "item.r_version == 'deprecated'" | first %}
{% for releasex in site.data.downloads.releases %}
  <div class="row">
    <div class="col-xs-12">
      {% assign release_name = releasex[0] %}
      {% assign release = releasex[1] %}
      {% assign testing = release.testing | default: false %}
      {% assign latest = release.latest | default: false %}
      {% assign aging = release.aging | default: false %}
      {% assign deprecated = release.deprecated | default: false %}
      <h3 id="{{ release_name | slugify }}">{{ release_name }}</h3>
      <!-- Testing releases -->
      {% if testing %}
        <div class="alert alert-info" role="alert">
          <i class="half-right fa fa-lg fa-question-circle"></i>
          {% if testing != true %}
            {{ testing }}
          {% else %}
            {% for s in test.snippets %}
              {% if s.url != nil %}
                <a href="{{ s.url }}">{{ s.snippet }}</a>
              {% else %}
                {{ s.snippet }}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      {% if latest %}
        <div class="alert alert-success" role="alert">
          <i class="half-right fa fa-lg fa-check-circle"></i>
          {% if latest != true %}
            {{ latest }}
          {% else %}
            {{ stable.snippets[0].snippet }}
          {% endif %}
        </div>
      {% endif %}
      <!-- Aging releases -->
      {% if aging %}
        <div class="alert alert-warning" role="alert">
          <i class="half-right fa fa-lg fa-info-circle"></i>
          {% if aging != true %}
            {{ aging }}
          {% else %}
            {% for s in old.snippets %}
              {% if s.url != nil %}
                <a href="{{ s.url }}">{{ s.snippet }}</a>
              {% else %}
                {{ s.snippet }}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      <!-- Deprecated releases -->
      {% if deprecated %}
        <div class="alert alert-danger" role="alert">
          <i class="half-right fa fa-lg fa-exclamation-circle"></i>
          {% if deprecated != true %}
            {{ deprecated }}
          {% else %}
            {% for s in depr.snippets %}
              {% if s.url != nil %}
                <a href="{{ s.url }}">{{ s.snippet }}</a>
              {% else %}
                {{ s.snippet }}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  <!-- Verification downloads -->
  {% assign code = downloads-page | where_exp: "item", "item.htmlsection == 'source-code'" | first %}
  {% assign scode = code.links | where_exp: "item", "item.id == 1" | first %}
  {% assign cg = code.links | where_exp: "item", "item.id == 2" | first %}
  {% assign sl = code.links | where_exp: "item", "item.id == 3" | first %}
  {% assign downcont = downloads-page | where_exp: "item", "item.htmlsection == 'download-content'" | first %}
  <div class="row download-content">
    {% for source in release.sources %}
      {% if source.display %}
        <div class="col-xs-12 col-sm-6 col-lg-4 add-bottom">
          <a class="btn btn-primary btn-block" href="{{ source.url }}" title="{{ release_name }} {{ source.type }}: {{ source.size }}">
            <i class="fa fa-fw fa-download"></i>
            <samp>{{ source.filename }}</samp>
          </a>
          {% for verifier in source.verifiers %}
            {% if verifier[0] == "hash" %}
              <a class="btn btn-default btn-block" href="{{ verifier[1] }}" title="Cryptographic hash values for {{ release_name }}. Right-click → Save link as...">
                <i class="fa fa-fw fa-download"></i>{{ downcont.links[0].text }}
              </a>
            {% elsif verifier[0] == "sig" %}
              <a class="btn btn-default btn-block" href="{{ verifier[1] }}" title="Detached PGP signature file for {{ release_name }} Right-click → Save link as...">
                <i class="fa fa-fw fa-download"></i>{{ downcont.links[1].text }}
              </a>
            {% elsif verifier[0] == "key" %}
              <a class="btn btn-default btn-block" href="{{ verifier[1] }}" title="PGP Release Signing Key for {{ release_name }} Right-click → Save link as...">
                <i class="fa fa-fw fa-download"></i>{{ downcont.links[2].text }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    <!-- Download helper links -->
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <ul class="list-unstyled">
        <li><a href="{{ downcont.links[3].url }}" class="black-link">{{ downcont.links[3].text }}</a></li>
          {% for docdata in release.docs %}
            {% assign doc_name = docdata[0] %}
            {% assign doc = docdata[1] %}
            {% if doc_name == "Installation guide" %}
              <li><a href="{{ lang }}{{ doc.url }}" class="black-link" title="Installation guide">{{ doc_name }}</a></li>
            {% endif %}
            {% if doc_name == "Release notes" %}
              <li><a href="{{ lang }}{{ doc.url }}" class="black-link" title="Release notes">{{ doc_name }}</a></li>
            {% endif %}
            {% if doc_name == "Release schedule" %}
              <li><a href="{{ lang }}{{ doc.url }}" class="black-link" title="Release schedule">{{ doc_name }}</a></li>
            {% endif %}
          {% endfor %}
        <li><a href="{{ downcont.links[4].url }}" class="black-link" title="{{ downcont.links[4].hover }}">{{ downcont.links[4].text }}</a></li>
      </ul>
    </div>
  </div>
  <hr class="more-bottom">
{% endfor %}
<!-- Download mirrors -->
{% assign dm = downloads-page | where_exp: "item", "item.htmlsection == 'download-mirrors'" | first %}
<div class="row">
  <div class="col-xs-12">
    <article>
      <h3 id="mirrors">{{ dm.title }}</h3>
      <p>{{ dm.text }}</p>
      <table>
        <tr>
          <th>{{ dm.table[0].column }}</th>
          <th>{{ dm.table[1].column }}</th>
          <th>{{ dm.table[2].column }}</th>
        </tr>
        {% for mirror in site.data.downloads-mirrors %}
          <tr id="{{ mirror.organization | slugify }}">
            <td><a href="{{ mirror.org_url }}">{{ mirror.organization }}</a></td>
            <td>{{ mirror.location }}</td>
            <td>
              {% for url in mirror.urls %}
                <a href="{{ url.url }}">{{ url.url | truncate: 76 }}</a><br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
      <a href="{{ dm.links[0].url }}" class="black-link">
        <i class="fa fa-cloud fa-fw black-icon"></i>
        {{ dm.links[0].text }}
      </a>
    </article>
  </div>
</div>
