<!-- Variables -->
{% include variables.html %}
{% assign endorsements = endorsements | where_exp: "item", "item.endorsements == nil" | first %}
<!-- List of endorsements -->
<div class="container">
  <div class="row more-top">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center"><i class="fa fa-quote-left"></i> {{ endorsements.title }}</h2>
    </div>
  </div>
  <div class="more-bottom">
    {% for item in endorsements.endorsement %}
      <div class="row featured-quotes">
        <div class="col-lg-3 col-md-3 text-center">
          <a class="avatar-large" href="{{ item.avatar}}"><img src="{{ item.img }}"></a>
        </div>
        <div class="col-lg-9 col-md-9 more-top">
          <a href="{{ item.tweet }}" >
            <blockquote>"{{ item.quote }}"
              <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
              <footer>{{ item.name }}<cite>, {{ item.occupation }}</cite></footer>
            </blockquote>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
