{% if page.lang == nil or page.lang == "en" %}
  {% assign experts = site.data.experts %}
{% else %}
  {% assign experts = site.data.translation[page.lang].experts %}
  {% if experts == nil or experts.size == 0 %}
    {% assign experts = site.data.experts %}
  {% endif %}
{% endif %}
{% assign experts = experts | where_exp: "item", "item.experts == nil" | first %}
<div class="container">
  <div class="row more-top">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center"><i class="fa fa-quote-left"></i> {{ experts.title }}</h2>
    </div>
  </div>
  <div class="more-bottom">
    {% for item in experts.expert %}
    <div class="row featured-quotes">
      <div class="col-lg-3 col-md-3 text-center">
        <a class="avatar-large" href="{{ item.avatar}}"><img src="{{ item.img }}"></a>
      </div>
      <div class="col-lg-9 col-md-9 more-top">
        <a href="{{ item.tweet }}" >
          <blockquote>"{{ item.quote }}"
            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            <footer>{{ item.name }}<cite>, {{ item.occupation }}</cite></footer>
          </blockquote>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
