<footer>
  <div class="white-box more-bottom">
  <div class="row footer-search">
    <div class="col-lg-3 col-md-3 text-center">
      <h4 class="remove-bottom"><i class="fa fa-search"></i> Search Qubes-OS.org</h4>
    </div>
    <div class="col-lg-9 col-md-9 text-left">
      <form action="https://duckduckgo.com/" method="get">
        <div class="input-group">
          <input type="hidden" name="sites" value="https://www.qubes-os.org">
          <input type="text" class="form-control" name="q" placeholder="Using DuckDuckGo&hellip;">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Go!</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div>
  </div>
  <div class="row footer-nav">
    {% for section in site.data.architecture %}
    <div class="col-lg-2 col-md-2">
      <a href="{{section.url}}"><h5 class="text-left add-bottom">{{section.title}} {% if section.title == "Donate" %}<i class="fa fa-heart"></i>{% endif %}</h5></a>
      <ul class="list-unstyled">
        {% for sub in section.sub-pages %}
        <li><a href="{{sub.url}}">{{sub.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <div class="row footer-logo text-center">
    <img src="/attachment/icons/logo-outline-small.svg" alt="Qubes"><strong>Qubes</strong> OS
  </div>
</footer>

<script src="{{ "/js/jquery-2.2.2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
{% if page.permalink == "/video-tours/" %}
<script src="{{ "/js/jquery.tubeplayer.min.js" | prepend: site.baseurl }}"></script>
<script>
$(document).ready(function() {

  // Uses the jQuery plugin, TubePlayer
  // https://github.com/nirvanatikku/jQuery-TubePlayer-Plugin/
  var tourVideo = $("#player").tubeplayer({
      width: 700,
      height: 393,
      allowFullScreen: "true",
      initialVideo: "dD0_gq_ugw8",
      start: 0,
      preferredQuality: "h720",
      showControls: true,
      showRelated: false,
      playsinline: false,
      autoPlay: false,
      autoHide: true,
      theme: "dark",
      color: "white",
      showinfo: false,
      modestbranding: true,
      annotations: true,
      loop: 0,
      protocol: 'https',
      loadSWFObject: false,
      iframed: true,
      onPlayerUnstarted: function(){ console.log('onPlayerUnstarted must be loaded...') },
      onPlayerCued: function(){ console.log('onPlayerCued must ready...') },
      onSeek: function(time){}
  })

  $('.player-seek').on('click', function(e) {
    e.preventDefault()
    //console.log('Jump to: ' + $(this).attr('href'))
    tourVideo.tubeplayer("seek", $(this).attr('href'))
    tourVideo.tubeplayer("play")

    $.each($('#player-menu li'), function() {
      $(this).find('i.fa').remove()
    })

    $(this).prepend('<i class="fa fa-arrow-right"></i> ')
  })

})
</script>
{% endif %}
