<footer>
  <div class="row more-bottom">
    <div class="col-lg-12">
      <form class="site-search" action="https://duckduckgo.com/" method="get">
        <i class="fa fa-search"></i>
        <input type="hidden" name="sites" value="https://www.qubes-os.org" />
        <input class="search" type="text" name="q" results="0" placeholder="Search with DuckDuckGo&hellip;" />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="row footer-nav">
    {% for section in site.data.architecture %}
    <div class="col-lg-2">
      <h4 class="text-left add-bottom">{{section.title}} {% if section.title == "Donate" %}<i class="fa fa-heart"></i>{% endif %}</h4>
      <ul class="list-unstyled">
        {% for sub in section.sub-pages %}
        <li><a href="{{sub.url}}">{{sub.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <div class="row footer-logo text-center">
    <img src="/attachment/icons/logo-outline-small.svg"><strong>Qubes</strong> OS
  </div>
</footer>
