{% assign rowspan = device.versions | size %}
{% assign range = rowspan | minus:1 %}
{% for i in (0..range) %}
<tr id="{{ device.brand | slugify }}_{{ device.model | slugify }}_{{ device.cpu-short | slugify }}_{{ device.gpu-short | slugify }}_{{ device.versions[i].credit | slugify }}_{{ device.versions[i].qubes | slugify }}">
  <td>
    <a href="#{{ device.brand | slugify }}_{{ device.model | slugify }}_{{ device.cpu-short | slugify }}_{{ device.gpu-short | slugify }}_{{ device.versions[i].credit | slugify }}_{{ device.versions[i].qubes | slugify }}">
      <strong>{{ device.brand }} {{ device.model }}</strong><br/>
      {% if device.cpu-short != "" or device.chipset-short != "" or device.gpu-short != "" %}
        <small>{{ device.cpu-short }} {{ device.chipset-short }} {{ device.gpu-short }}</small>
      {% endif %}
    </a>
  </td>
  <td>{{ device.bios }}</td>
  {% assign param=device.hvm %}
  {% include hcl-cell.html param=param %}
  {% assign param=device.iommu %}
  {% include hcl-cell.html param=param %}
  {% assign param=device.slat %}
  {% include hcl-cell.html param=param %}
  {% assign param=device.tpm %}
  {% include hcl-cell.html param=param %}
  {% assign version = device.versions[i] %}
  {% include hcl-version.html version=version %}
</tr>
{% endfor %}
