<!-- Fixed navbar -->
<nav class="navbar navbar-top navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-link" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">
        <img src="{{ "/attachment/icons/128x128/apps/qubes-logo-icon.png" | prepend: site.baseurl | prepend: site.url }}"
                  width="44" height="44" alt="Qubes OS Project">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav nav-justified">
        <li><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">Qubes</a></li>
        <li><a href="{{ "/tour/" | prepend: site.baseurl | prepend: site.url }}">Tour</a></li>
        <li><a href="{{ "/get-started/" | prepend: site.baseurl | prepend: site.url }}">Get Started</a></li>
        <li><a href="{{ "/help/" | prepend: site.baseurl | prepend: site.url }}">Help</a></li>
        <li><a href="{{ "/news/" | prepend: site.baseurl | prepend: site.url }}">News</a></li>
        <li><a href="{{ "/about/" | prepend: site.baseurl | prepend: site.url }}">About</a></li>
        <li><a href="{{ "/donate/" | prepend: site.baseurl | prepend: site.url }}">Donate</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
