<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-fifth center-on-mobiles">
      <h1>
        <a href="/">
          <span class="sr-only">Qubes OS</span>
          <img src="{{ "/attachment/icons/128x128/apps/qubes-logo-icon.png" | prepend: site.baseurl }}"
               width="128" height="128" alt="Qubes">
          <!-- original img src="https://github.com/QubesOS/qubes-artwork/raw/master/icons/128x128/apps/qubes-logo-icon.png" -->
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
