<div class="row more-top">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <h1 class="add-left outer-heading">
      <a href="/news/" class="heading-link">
        <i class="fa fa-newspaper-o"></i> News
      </a>
    </h1>
  </div>
  <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
    <h1 class="outer-heading">
      <a href="/news/categories/" class="btn btn-default">
        <i class="fa fa-fw fa-tag" aria-hidden="true"></i>Categories
      </a>
      <a href="/statistics/" class="btn btn-default">
        <i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>Statistics
      </a>
    </h1>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-3 col-xs-12 button-heading">
    <h1 class="outer-heading">
      <a title="GitHub" href="https://github.com/QubesOS" class="fa fa-github-square black-icon" aria-hidden="true"></a>
      <a title="Twitter" href="https://twitter.com/QubesOS" class="fa fa-twitter-square" aria-hidden="true"></a>
      <a title="Reddit" href="https://www.reddit.com/r/Qubes/" class="fa fa-reddit-square" aria-hidden="true"></a>
      <a title="Facebook" href="https://www.facebook.com/QubesOS" class="fa fa-facebook-square" aria-hidden="true"></a>
      <a title="LinkedIn" href="https://www.linkedin.com/company/qubes-os/" class="fa fa-linkedin-square" aria-hidden="true"></a>
      <a title="Subscribe via RSS" href="/feed.xml" class="fa fa-rss-square" aria-hidden="true"></a>
    </h1>
  </div>
</div>
