<div class="page-source">
  <a href="{{ site.project_repo_path }}/qubes-doc/blob/master{{ page.relative_path | remove_first: '_doc' }}"
     class="page-source-link"
     title="View page source"
     target="_blank">
    <span class="fa fa-code"></span> Source</a>
&nbsp;
  <a href="{{ site.project_repo_path }}/qubes-doc/edit/master{{ page.relative_path | remove_first: '_doc' }}"
     class="page-source-link"
     title="Edit this page"
     target="_blank">
    <span class="fa fa-code-fork"></span> Edit</a>
</div>
<br>
