<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Qubes</a>
  </li>
  <li class="{% if page.url contains '/wiki/' %}current{% endif %}">
    <a href="/wiki/">Wiki<span class="show-on-mobiles"></span><span class="hide-on-mobiles"></span></a>
  </li>
  <li class="{% if page.model %}current{% endif %}">
    <a href="/hcl/">HCL</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/">News</a>
  </li>
  <li class="{% if page.url contains '/help/' %}current{% endif %}">
    <a href="/help/">Help</a>
  </li>
  <li>
    <a href="https://github.com/QubesOS">Source<span class="hide-on-mobiles"> Repositories</span></a>
  </li>
</ul>
