<!-- Variables -->
{% include variables.html %}
<!-- Simple team entry -->
<div id="{{team.name | slugify}}" class="team-info">
  <a href="{{ team_link }}#{{ team.name | slugify }}" class="black-link headline">
    {{ team.name }}
  </a>
  <em class="role">{{team.role}}</em>
  {% if team.fingerprint %}
    {% include team-pgp.html %}
  {% endif %}
  {% if team.email %}
    <a href="mailto:{{team.email}}" class="black-link">
      <i class="fa fa-fw fa-envelope"></i>Email
    </a>
  {% endif %}
</div>
