/*
* Greyscale overwrites.
*/

.navbar {
  padding: 14px 0 10px 0;
  letter-spacing: 0px;
}

.navbar-custom {
  height: 72px;
  margin-bottom: 0;
  font-family: $ostrich-heavy;
  font-size: 21px;
  letter-spacing: 1px;
  background-color: $body-bg;
  border-bottom: 1px solid $gray-light;

  a.page-link {
    display: inline-block;
    margin-right: 10px;

    span {
      font-family: $ostrich;
      font-size: 30px;
      line-height: 30px;
      display: none;
      color: $gray-base;

      strong {
        font-family: $ostrich-heavy;
      }
    }
  }

  .navbar-collapse a {
    color: $gray-base;
    font-family: $ostrich-heavy;
    font-size: 21px;
    line-height: 21px;
  }

  .nav {

    li {

      &.active {
        outline: none;
        background-color: $gray-light;
        border-radius: $base-radius;
      }

      a {
        font-family: $ostrich-heavy;
        -webkit-transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        transition: background .25s ease-in-out;
        border-radius: $base-radius;

        &:hover,
        &:focus,
        &.active {
          outline: none;
          background-color: $gray-light;
        }
      }
    }
  }

  // Toggles responsive menu
  .navbar-toggle {
    background-color: $color-white;
    border-color: $gray;
    margin-top: 5px;

    &:hover,
    &:focus {
      background-color: $gray-light;

      .icon-bar {
        background-color: $gray-darker;
      }
    }
    .icon-bar {
      background-color: $gray-darker;
    }
  }

  // Language Switcher
  .langdropbtn-lg {
    border: none;
    padding: 10px 15px;
    margin-left: 25px;
  }

  .langdropdown-lg {
    position: relative;
    display: inline-block;
  }

  .langdropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: $gray-lighter;
    border: 1px solid $gray-light;
    margin-top: 5px;
    padding: 10px;
    z-index: 1;
    a {
      color: $gray-base;
      font-family: $ostrich-heavy;
      font-size: 21px;
      padding: 10px;
    }
  }

  .langdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* .dropdown:hover .dropdown-content {display: block;} */
  /* display the element with ID `dd` which is a sibling of the (checked) checkbox with ID `toggle` */
  #langdropdown-toggle-lg:checked ~ #langdropdown-dd-lg {
    display: block;
  }

  .langdropdown:hover .langdropbtn-lg {
    background-color: $gray-light;
    border-radius: $base-radius;
  }

  /* "hide" the checkbox (`display: none` doesn't work everwhere properly) */
  #langdropdown-toggle-lg {
    position: absolute;
    top: -10000vh;
    left: -10000vw;
    opacity: 0;
  }

  .langdropdown-sm {
    display: none;
  }

}

/* Makes links not wrap */
@media(max-width: $screen-md-max) {

  .navbar-custom {
    .navbar-collapse {
      ul.nav-justified > li > a {
        padding: 10px 5px;
        letter-spacing: 0px;
      }
    }
    .langdropdown-lg {
      padding: 10px 5px;
      margin-left: 15px;
    }
  }
}

/* Responsive menu */
@media (max-width: $screen-xs-max) {

  .navbar-custom {

    a.page-link {
      margin-left: 15px;

      span {
        position: relative;
        top: 5px;
        left: 15px;
        display: inline-block;
      }
    }

    .navbar-collapse {
      position: relative;
      top: 10px;
      left: 0px;
      padding: 0px 5px;
      background-color: $color-white;

      ul > li > a {
        color: $gray-base;
        padding: 10px 5px;
        letter-spacing: 1px;
        background-color: $gray-lighter;

        &:hover,
        &:focus {
          color: $gray-base;
          background-color: $gray-light;
        }
      }
    }

    // Language Switcher
    .langdropbtn-sm {
      border: none;
      padding: 9px 10px;
      margin-right: 15px;
      margin-top: 3px;
      margin-bottom: 8px;
    }

    .langdropdown-sm {
      position: relative;
      display: inline-block;
      float: right;
    }

    /* .dropdown:hover .dropdown-content {display: block;} */
    /* display the element with ID `dd` which is a sibling of the (checked) checkbox with ID `toggle` */
    #langdropdown-toggle-sm:checked ~ #langdropdown-dd-sm {
      display: block;
    }

    .langdropdown:hover .langdropbtn-sm {
      background-color: $gray-light;
      border-radius: $base-radius;
    }

    /* "hide" the checkbox (`display: none` doesn't work everwhere properly) */
    #langdropdown-toggle-sm {
      position: absolute;
      top: -10000vh;
      left: -10000vw;
      opacity: 0;
    }

    .langdropdown-lg {
      display: none;
    }
  }
}
