/*
* Greyscale overwrites.
*/

.navbar {
  padding: 14px 0 10px 0;
  letter-spacing: 0px;
}

.navbar-custom {
  height: 72px;
  margin-bottom: 0;
  font-family: $ostrich-heavy;
  font-size: 21px;
  letter-spacing: 1px;
  background-color: $body-bg;
  border-bottom: 1px solid $gray-light;

  .container {
    height: 340px;
  }

  a.page-link {
    display: inline-block;
    margin-right: 10px;

    span {
      font-family: $ostrich;
      font-size: 30px;
      line-height: 30px;
      display: none;
      color: $gray-base;

      strong {
        font-family: $ostrich-heavy;
      }
    }
  }

  .navbar-collapse a {
    color: $gray-base;
    font-family: $ostrich-heavy;
    font-size: 21px;
    line-height: 21px;
  }

  .nav {

    li {

      &.active {
        outline: none;
        background-color: $gray-light;
        border-radius: $base-radius;
      }

      a {
        font-family: $ostrich-heavy;
        -webkit-transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        transition: background .25s ease-in-out;
        border-radius: $base-radius;

        &:hover,
        &:focus,
        &.active {
          outline: none;
          background-color: $gray-light;
        }
      }
    }
  }

  // Toggles responsive menu
  .navbar-toggle {
    background-color: $color-white;
    border-color: $gray;
    margin-top: 5px;

    &:hover,
    &:focus {
      background-color: $gray-light;

      .icon-bar {
        background-color: $gray-darker;
      }
    }
    .icon-bar {
      background-color: $gray-darker;
    }
  }
}

/* Makes links not wrap */
@media(max-width: $screen-md-max) {

  .navbar-custom {
    .navbar-collapse {
      ul.nav-justified > li > a {
        padding: 10px 5px;
        letter-spacing: 0px;
      }
    }
  }
}

/* Responsive menu */
@media (max-width: $screen-xs-max) {

  .navbar-custom {

    a.page-link {
      margin-left: 15px;

      span {
        position: relative;
        top: 5px;
        left: 15px;
        display: inline-block;
      }
    }

    .navbar-collapse {
      position: relative;
      top: 10px;
      left: 0px;
      padding: 0px 5px;
      background-color: $color-white;

      ul > li > a {
        color: $gray-base;
        padding: 10px 5px;
        letter-spacing: 1px;
        background-color: $gray-lighter;

        &:hover,
        &:focus {
          color: $gray-base;
          background-color: $gray-light;
        }
      }
    }
  }
}
