/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-meta {
  color: $gray-darker;
}

.post-title {
  margin-bottom: ($spacing-unit / 3);
  font-family: $base-font-family;
  letter-spacing: 0px;
  line-height: 1.5;

  a.post-link {
    font-size: 24px;
    font-weight: normal;
    color: $gray-base;
  }

  a.post-link:hover {
    color: $brand-primary;
  }

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 0;
  font-family: $base-font-family;

  h2, h3, h4 {
    margin-top: $spacing-unit;
    margin-bottom: $line-height-computed / 2;
  }

  h2 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 26px;
    }
  }

  h3 {
    font-size: 22px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 18px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  img {
    margin: $spacing-unit auto;
    display: block;
  }
}
