---
lang: en
layout: base
permalink: /
redirect_from:
- /wiki/
- /wiki/WikiStart/
- /trac/
- /trac/WikiStart/
ref: 7
title: "Qubes OS: A reasonably secure operating system"
---

<!-- Featured Content -->
<div class="home-banner text-center more-bottom">
  <div class="row more-bottom">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <h1 class="add-top outer-heading">
        <strong>Qubes</strong> OS
        <small>A reasonably secure operating system</small>
      </h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row more-bottom">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <div class="home-big-button">
        <a class="btn btn-lg btn-primary btn-block" href="/downloads/" role="button">
          Download &amp; Install<br>
          <small>Version 4.1.1</small>
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="container home-content">
  <!-- Endorsements -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center outer-heading"><i class="fa fa-quote-left"></i> What others are saying</h2>
    </div>
  </div>
  <div class="white-box more-bottom">
    <div class="row featured-quotes">
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar" href="https://twitter.com/Snowden/status/781493632293605376" target="_blank">
          <img src="/attachment/site/endorsement-edward-snowden.jpg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <a href="https://twitter.com/Snowden/status/781493632293605376" target="_blank">
          <blockquote>"If you're serious about security, @QubesOS is the best OS available today. It's what I use, and free."
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <footer><b>Edward Snowden</b>, whistleblower and privacy advocate</footer>
          </blockquote>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar">
          <img src="/attachment/site/fpf-logo-square.png">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <blockquote>"SecureDrop depends on Qubes OS for best-in-class isolation of sensitive workloads on journalist workstations. Providing journalists with a sane way to handle untrusted content from unknown sources is part of our job, and Qubes gives us the tools we need to do that job well."
          <footer><b>Freedom of the Press Foundation</b>, non-profit dedicated to supporting free speech and public-interest journalism</footer>
        </blockquote>
      </div>
    </div>
    <div class="row featured-quotes">
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar" href="https://twitter.com/hashbreaker/status/577206817475850240" target="_blank">
          <img src="/attachment/site/endorsement-daniel-j-bernstein.jpg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <a href="https://twitter.com/hashbreaker/status/577206817475850240" target="_blank">
          <blockquote>"Happy thought of the day: An attacker who merely finds a browser bug can't listen to my microphone except when I've told Qubes to enable it."
            <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            <footer><b>Daniel J. Bernstein</b>, mathematician, cryptologist, and computer scientist</footer>
          </blockquote>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 text-center">
        <a class="avatar">
          <img src="/attachment/site/lets-encrypt-logo.svg">
        </a>
      </div>
      <div class="col-lg-5 col-md-5">
        <blockquote>"Qubes OS gives us greater confidence in the security of systems being used to remotely access our servers, mainly because powerful physical and logical privilege separation between workspaces allows our engineers to select appropriate degrees of isolation for different processes."
          <footer><b>Let's Encrypt</b>, non-profit, world's largest certificate authority</footer>
        </blockquote>
      </div>
    </div>
    <div class="row featured-quotes add-bottom">
      <div class="col-lg-12 col-md-12 text-center">
        <a class="btn btn-small btn-primary" href="/endorsements/">More endorsements</a>
      </div>
    </div>
  </div>
  <hr>
  <!-- News -->
  <div class="row">
    <div class="col-lg-6 col-md-6 more-bottom">
      <h2 class="text-center outer-heading"><i class="fa fa-newspaper-o"></i> Media &amp; Press</h2>    
      <div class="white-box">
        <div class="featured-quotes">
          <a href="https://www.vice.com/en_us/article/kbz43x/finally-a-reasonably-secure-operating-system-qubes-r3" target="_blank">
            <img src="/attachment/site/motherboard-logo.png" class="logo">
            <blockquote>
              "The world's most secure operating system assumes you've been owned."
              <footer>by J.M. Porup</footer>
            </blockquote>
          </a>
        </div>
        <div class="featured-quotes">
          <a href="https://www.economist.com/babbage/2014/03/28/a-digital-fortress" target="_blank">
            <img src="/attachment/site/the-economist-logo.png" class="logo">
            <blockquote>
              "For those willing to put in the effort, Qubes is more secure than almost any other operating system available today."
              <footer>by J. M. P.</footer>
            </blockquote>
          </a>
        </div>
        <div class="featured-quotes">
          <a href="https://www.wired.com/2014/11/protection-from-hackers/" target="_blank">
            <img src="/attachment/site/wired-magazine-logo.png" class="logo">
            <blockquote>
              "So Rutkowska flipped the game, this time in favor of the defenders."
              <footer>by Andy Greenberg</footer>
            </blockquote>
          </a>
        </div>
        <a href="/news/" class="btn btn-sm btn-primary">More Media &amp; Press</a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 more-bottom">
      <h2 class="text-center outer-heading"><i class="fa fa-bullhorn"></i> News &amp; Announcements</h2>
      <div class="white-box">
        <ul class="list-unstyled remove-bottom">
              {% include home-news.html %}
          <li class="list-links-normal">
            <a href="/news/" class="btn btn-sm btn-primary">More News &amp; Announcements</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <!-- Technology -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center outer-heading"><i class="fa fa-cogs"></i> What's Inside of Qubes?</h2>
    </div>
  </div>
  <div class="white-box more-bottom">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <img src="/attachment/site/xen-logo.svg" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="text-center add-bottom">Secure Compartmentalization</h3>
        <p>Qubes brings to your personal computer the security of the Xen hypervisor, the same software relied on by many major hosting providers to isolate websites and services from each other. <a href="/doc/architecture/">Learn more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <img src="/attachment/site/OS-logos.svg" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="text-center add-bottom">Operating System Freedom</h3>
        <p>Can't decide which Linux distribution you prefer? Still need that one Windows program for work? With Qubes, you're not limited to just one OS. <a href="/doc/templates/">Learn more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <img src="/attachment/site/whonix-tor.svg" class="add-top">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="text-center add-bottom">Serious Privacy</h3>
        <p>With Whonix integrated into Qubes, using the Internet anonymously over the Tor network is safe and easy. <a href="https://www.whonix.org/wiki/Qubes">Learn more</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr>
  <!-- Details: Awards / Follow -->
  <div class="row">
    <div class="col-lg-6 col-md-6 more-bottom">
      <h3 class="text-center"><i class="fa fa-file-text"></i> Research</h3>
      <div class="white-box">
      <ul class="list-unstyled remove-bottom">
          {% include home-research.html %}
        <li class="list-links-normal">
          <a href="/research/" class="btn btn-sm btn-primary">Read More Research</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 more-bottom">
      <h3 class="text-center"><i class="fa fa-trophy"></i> Awards &amp; Grants</h3>
      <div class="white-box">
      <ul class="list-unstyled remove-bottom">
      <li class="list-links text-center">
        <a href="https://nlnet.nl/" target="_blank">
          <img src="/attachment/site/nlnet.gif" class="featured-logo center-block">
          <span>2016</span>
        </a>
      </li>
      <li class="list-links text-center">
        <a href="https://www.opentech.fund/project/qubes-os" target="_blank">
          <img src="/attachment/site/OTF-logo.png" class="featured-logo center-block">
          <span>2015 and 2016</span>
        </a>
      </li>
      <li class="list-links text-center">
        <a href="https://www.accessnow.org/blog/2014/02/13/endpoint-security-prize-finalists-announced" target="_blank">
          <img src="/attachment/site/access-innovation-prize.jpg" class="featured-logo center-block">
          <span>2014 Finalist for Endpoint Security</span>
        </a>
      </li>
      <li class="list-links text-center">
        <a href="/partners/">
          <img src="/attachment/site/partners-shake.svg" class="center-block">
          <span>We would love for you to fund or partner with us</span>
        </a>
      </li>
      </ul>
      </div>
    </div>
  </div>
  <hr>
  <!-- Details: Get Involved -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="text-center outer-heading"><i class="fa fa-users"></i> Join the Community!</h2>
    </div>
  </div>
  <div class="white-box more-bottom">
    <div class="row">
      <p>Have questions or need a hand? As a free and open-source project, our valued community of users and contributors from around the world are in the best position to help. Before diving in, we encourage you to read about <a href="/support/#staying-safe">staying safe</a>, our <a href="/support/#discussion-guidelines">discussion guidelines</a>, and our <a href="/code-of-conduct/">code of conduct</a> to help keep things positive and on-track. We welcome newcomers and returning users wanting to discuss Qubes and <a href="/doc/contributing/">seeking to contribute</a>.
    </div>
    <div class="clearfix"></div>
    <div class="row more-bottom">
      <div class="col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="home-big-button">
          <a class="btn btn-lg btn-primary btn-block" href="https://forum.qubes-os.org/" role="button">Visit the Qubes Forum</a>
        </div>
      </div>
    </div>
  </div>
</div>
