---
layout: team
title: Team
permalink: /team/
redirect_from:
- /people/
- /doc/QubesDevelopers/
- /wiki/QubesDevelopers/
---

<div id="team-core" class="white-box page-content">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 id="core-team" class="text-center more-bottom">Core Team</h2>
  </div>
  {% for team in site.data.team %}
    {% if team.type == "core" %}
      <div class="row team team-core" id="{{ team.name | slugify }}">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center add-bottom">
          <div class="picture">
            {% if team.picture %}
            <a href="/team/#{{ team.name | slugify }}">
              <img src="/attachment/site/{{team.picture}}"
                   title="Picture of {{ team.name }}">
            </a>
            {% else %}
            <i class="fa fa-user"></i>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 team-info">
          {% assign name_array = team.name | split:" " %}
          <a href="/team/#{{ team.name | slugify }}">
          <h4 class="remove-bottom">
            {{ team.name }}
          </h4>
          </a>
          <em class="role half-bottom">{{ team.role }}</em>
          {% if team.fingerprint %}
          <a href="http://keys.gnupg.net/pks/lookup?search=0x{{ team.fingerprint | remove: ' ' }}&fingerprint=on&exact=on&op=get&options=mr"
             title="Download PGP public key" class="black-link add-right">
            <i class="fa fa-fw fa-lock"></i>PGP Key
          </a>
          {% endif %}
          {% if team.email %}
          <a href="mailto:{{team.email}}" class="black-link add-right"
             title="Email">
            <i class="fa fa-fw fa-envelope"></i>Email
          </a>
          {% endif %}
          {% if team.github %}
          <a href="https://github.com/{{team.github}}" target="blank"
             class="black-link add-right" title="GitHub">
            <i class="fa fa-fw fa-github"></i>GitHub
          </a>
          {% endif %}
          {% if team.website %}
          <a href="{{team.website}}" target="blank" class="black-link"
             title="Website">
            <i class="fa fa-fw fa-globe"></i>Website
          </a>
          {% endif %}
        </div>
        {% if team.fingerprint %}
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 more-bottom fingerprint"
             title="{{ team.name }}'s PGP fingerprint">
          {{ team.fingerprint }}
        </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  <!-- Hidden when not actively hiring
  <div class="text-center more-bottom">
    <a href="/join/" class="btn btn-primary">
      <i class="fa fa-user-plus fa-fw white-icon"></i>Join the team!
    </a>
  </div>
  -->
</div>
<div class="page-content more-bottom">
  <div class="col-lg-12">
    <h2 id="emeritus" class="text-center more-bottom">Emeritus</h2>
    <p>
      Emeriti are honorary members of the Qubes team who previously contributed
      to the project in a central way but who are no longer currently active.
    </p>
  </div>
  {% for team in site.data.team %}
    {% if team.type == "emeritus" %}
    {% assign name_array = team.name | split:" " %}
    <div class="row team">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% include team-simple.html %}
      </div>
      {% if team.fingerprint %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 more-bottom fingerprint">
        {{ team.fingerprint }}
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</div>
<div class="page-content more-bottom">
  <div class="col-lg-12">
    <h2 id="community-contributors" class="text-center more-bottom">
      Community Contributors
    </h2>
    <p>
      Qubes would not be where it is today without the input of the many users,
      testers, and developers of all skill levels who have come together to form
      this thriving community. The community's discussions take place primarily
      on the <a href="/support/">Qubes mailing lists and forum</a>.
    </p>
  </div>
  {% for team in site.data.team %}
    {% if team.type == "community" %}
    {% assign name_array = team.name | split:" " %}
    <div class="row team">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% include team-simple.html %}
      </div>
      {% if team.fingerprint %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 fingerprint">
        {{ team.fingerprint }}
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</div>

