<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        {% assign doc_segments = page.relative_path | split: '/' %}
        {% for section in site.data.doc %}
        {% for topic in section.topics %}
        {% if doc_segments contains topic.folder %}
        <h1 class="more-top add-left outer-heading">
          <a href="/doc/#{{ section.category | slugify }}" class="heading-link">
            <i class="fa fa-book"></i>
              {{ section.category }}
          </a>
        </h1>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <div class="alert alert-danger" role="alert">
          <i class="fa fa-exclamation-triangle"></i>
          <b>Caution:</b>
          This page is an unverified translation.
          The Qubes OS Project cannot evaluate the accuracy of translations into languages that our team cannot read.
        </div>
        {% include doc-content.html %}
      </div>
  </body>
</html>
