<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <h1 class="more-top add-left">
          <i class="fa fa-book"></i> {{ page.title }}
          <a href="/security/" class="btn btn-default more-left half-top"><i class="fa fa-lock" aria-hidden="true"></i> Report a Security Issue</a>
          <a href="/doc/reporting-bugs/" class="btn btn-default half-top"><i class="fa fa-bug" aria-hidden="true"></i> Report a Bug</a>
          <a href="/doc/doc-guidelines/" class="btn btn-default half-top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Improve the Documentation</a>
          <a href="https://github.com/QubesOS/qubes-doc" class="pull-right half-top fa fa-github black-icon" aria-hidden="true" title="View the Documentation on GitHub"></a>
        </h1>
        <div class="white-box more-bottom page-content">
        {{ content }}
        </div>
        {% include footer.html %}
        <script src="/js/anchor.min.js"></script>
        <script>
          anchors.add();
        </script>
      </div>
  </body>
</html>
