<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <div class="row more-top">
          <div class="col-lg-4 col-md-4">
            <h1 class="add-left outer-heading"><i class="fa fa-book"></i> {{ page.title }}</h1>
          </div>
          <div class="col-lg-8 col-md-8 button-heading">
            <h1 class="outer-heading">
            <a href="/security/" class="btn btn-default half-top"><i class="fa fa-lock" aria-hidden="true"></i> Report a Security Issue</a>
            <a href="/doc/reporting-bugs/" class="btn btn-default half-top"><i class="fa fa-bug" aria-hidden="true"></i> Report a Bug</a>
            <a href="/doc/doc-guidelines/" class="btn btn-default half-top add-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Improve the Documentation</a>
            <a href="https://github.com/QubesOS/qubes-doc" class="half-top fa fa-github black-icon" aria-hidden="true" title="View the Documentation on GitHub"></a>
            </h1>
          </div>
        </div>
        <div class="white-box more-bottom page-content">
        {{ content }}
        </div>
        {% include footer.html %}
        <script src="/js/anchor.min.js"></script>
        <script>
          anchors.add();
        </script>
      </div>
  </body>
</html>
