<!DOCTYPE html>
<html>
  {% include head.html %}

<style type="text/css">
<!--
.download-steps {
  margin-bottom: 3em;
}
.download-steps .white-box {
  padding-bottom: 1em;
  padding-top: 1em;
}
.download-steps .step-options {
  border-collapse: separate;
  border-spacing: 1em;
  margin: -1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
}
.download-steps .step-options a {
  display: block;
  padding: 1em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}
.download-steps ul {
  padding-left: 1em;
  margin-bottom: 0;
}
-->
</style>

    <body>
      {% include header.html %}
      <div class="container">
        {{ content }}
        {% include footer.html %}
      </div>
  </body>
</html>
