<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container-fluid">
      <h1 class="more-top add-left">
        {% assign page_icon = "fa-page" %}
        {% for section in site.data.architecture %}{% if section.url == page.permalink %}
          {% assign page_icon = section.icon %}
          {% else %}
          {% for sub in section.sub-pages %}{% if sub.url == page.permalink %}
          {% assign page_icon = sub.icon %}{% endif %}{% endfor %}
        {% endif %}{% endfor %}
        <i class="fa {{page_icon}}"></i> {{ page.title }}
      </h1>
      <div class="white-box more-bottom">
        {{ content }}
      </div>
      {% include footer.html %}
      <script src="/js/anchor.min.js"></script>
      <script>
        anchors.add();
      </script>
    </div>
  </body>
</html>
