<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <div class="row more-top">
          <div class="col-lg-7 col-md-8 col-sm-9 col-xs-9">
            <h1 class="outer-heading">
              <i class="fa fa-flag"></i>
              {{ page.title }}
            </h1>
          </div>
          <div class="col-lg-5 col-md-4 col-sm-3 col-xs-3 text-right">
            <a title="Video Tours" href="/video-tours/" class="btn btn-primary"><i class="fa fa-play-circle fa-fw" aria-hidden="true"></i>Video Tours</a>
            <a title="Screenshots" href="/screenshots/" class="btn btn-primary"><i class="fa fa-photo fa-fw" aria-hidden="true"></i>Screenshots</a>
          </div>
        </div>
        <div class="white-box more-bottom page-content">
        {{ content }}
        </div>
        {% include footer.html %}
        <script src="/js/anchor.min.js"></script>
        <script>
          anchors.add();
        </script>
      </div>
  </body>
</html>
