<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <h1 class="more-top add-left">
          <i class="fa fa-newspaper-o"></i> News
          <a title="Subscribe via RSS" href="https://www.qubes-os.org/feed.xml" class="fa fa-rss-square black-icon pull-right"></a>
        </h1>
        <div class="more-bottom white-box page-content">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-10">
              <article class="post-content">
                {{ content }}
              </article>
            </div>
          </div>
        </div>
        {% include footer.html %}
      </div>
  </body>
</html>
