<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <h1 class="more-top add-left">
          <i class="fa fa-newspaper-o"></i> News
          <a title="Subscribe via RSS" href="https://www.qubes-os.org/feed.xml" class="fa fa-rss-square black-icon pull-right"></a>
        </h1>
        <div class="more-bottom white-box page-content">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-10">
              {% if page.path == "news/index.html" %}
              <article class="post-content">
                {{ content }}
              </article>
              {% else %}
              <header class="post-header">
                <h1 class="post-title remove-bottom">{{ page.title }}</h1>
                <p class="post-meta">
                  {{ page.date | date: "%b %-d, %Y" }}
                  by <strong>{% if page.author %}{{ page.author }}{% else %}{{ site.default_author }}{% endif %}</strong>
                  {% if page.meta %}{{ page.meta }}{% endif %}
                  in <strong>
                  {% if post.categories.first %}
                  {% for category in page.categories %}
                    {{ category | capitalize }}{% if forloop.index < forloop.length %},{% endif %}
                  {% endfor %}
                  {% else %}
                    {{ site.default_category | capitalize }}
                  {% endif %}
                  </strong>
                </p>
              </header>
              <article class="post-content">
                {{ content }}
              </article>
              {% endif %}
            </div>
          </div>
        </div>
        {% include footer.html %}
      </div>
  </body>
</html>
