---
layout: news
---

<article>
  <h2>
    {{ post.title }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ post.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
    <a href="{{ post.author | uri_escape | prepend: "/author/" | prepend: site.baseurl }}" class="post-author">
      <img src="{{ post.author | uri_escape | prepend: "/attachment/author/" | prepend: site.baseurl | append: ".png" }}" class="avatar" alt="{{ post.author }} avatar" width="24" height="24">
      {{ post.author }}
    </a>
  </div>
  <div class="clear">
    <br>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</article>
