<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <h1 class="more-top add-left">
        {% if page.icon %}
        <i class="fa {{page.icon}}"></i>
        {% else %}
          {% for section in site.data.architecture %}
            {% if section.url == page.permalink %}
            <i class="fa {{section.icon}}"></i>
            {% else %}
            {% for sub in section.sub-pages %}
            {% if sub.url == page.permalink %}
            <i class="fa {{sub.icon}}"></i>
            {% endif %}
            {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {{ page.title }}
        </h1>
        <div class="more-bottom white-box page-content">
          <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
              <div class="heading-label">
                <h5 class="contents-title remove-bottom">{{page.title}}</h5>
                <h6 class="remove-bottom">Contents</h6>
              </div>
              <div id="page-toc"></div>
              <hr>
              <div class="page-source-side">
                <a href="{{ site.project_repo_path }}/qubes-doc/blob/master{{ page.relative_path | remove_first: '_doc' }}"
                   class="page-source-link btn btn-default btn-block"
                   title="View page source"
                   target="_blank">
                  <span class="fa fa-code"></span> View Page Source
                </a><br>
                <a href="{{ site.project_repo_path }}/qubes-doc/edit/master{{ page.relative_path | remove_first: '_doc' }}"
                   class="page-source-link btn btn-default btn-block"
                   title="Edit this page"
                   target="_blank">
                  <span class="fa fa-code-fork"></span> Edit This Page
                </a><br>
                <a href="/doc/doc-guidelines/"
                   class="page-source-link btn btn-default btn-block"
                   title="How to Contribute"
                   target="_blank">
                  <span class="fa fa-pencil"></span> How to Contribute
                </a>
                <hr>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 page-content-right">
              <article id="doc-content" class="post-content">
                {{ content }}
              </article>
            <br>
            </div>
          </div>
          <div class="page-source-bottom">
            <hr>
            <a href="{{ site.project_repo_path }}/qubes-doc/blob/master{{ page.relative_path | remove_first: '_doc' }}"
               class="page-source-link btn btn-default btn-block"
               title="View page source"
               target="_blank">
              <span class="fa fa-code"></span> View Page Source
            </a><br>
            <a href="{{ site.project_repo_path }}/qubes-doc/edit/master{{ page.relative_path | remove_first: '_doc' }}"
               class="page-source-link btn btn-default btn-block"
               title="Edit this page"
               target="_blank">
              <span class="fa fa-code-fork"></span> Edit This Page
            </a><br>
            <a href="/doc/doc-guidelines/"
               class="page-source-link btn btn-default btn-block"
               title="How to Contribute"
               target="_blank">
              <span class="fa fa-pencil"></span> How to Contribute
            </a>
          </div>
        </div>
        {% include footer.html %}
        <script src="/js/jquery.toc.js"></script>
        <script>
        $(document).ready(function() {
          $('#doc-content').toc({
            renderIn: '#page-toc',
            anchorPrefix: 'tocAnchor-', // the default prefix used for generated TOC elements IDs
            showAlways: true, //Show TOC also if only one H1 is present on page, the TOC is never show if no H1s are found on page
            saveShowStatus: false, // Save the collapse status using a cookie (see dependecies for further details)
            contentsText: 'Contents', // The label text shown for Content, you can localize passing another string
            hideText: 'hide', // The label text shown for hide button, you can localize passing another string
            showText: 'hide' // The label text shown for show button, you can localize passing another string
          })
        })
        </script>
        <script src="/js/anchor.min.js"></script>
        <script>
          anchors.add();
        </script>
      </div>
  </body>
</html>
