<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <div class="container">
        <div class="row more-top more-bottom">
          <div class="col-lg-4 col-md-3">
            <h1 class="add-left">
              <i class="fa fa-users" aria-hidden="true"></i>
              {{ page.title }}
            </h1>
          </div>
          <div class="col-lg-3 col-md-3 add-left">
            <ul class="list-unstyled">
              <li><a href="/security/"><i class="fa fa-lock fa-fw black-icon"></i> Report a security issue</a></li>
              <li><a href="/doc/reporting-bugs/"><i class="fa fa-bug fa-fw black-icon"></i> Report a bug</a></li>
              <li><a href="/mailing-lists/"><i class="fa fa-envelope fa-fw black-icon"></i> Join the mailing lists</a></li>
              <li><a href="/join/"><i class="fa fa-user-plus fa-fw black-icon"></i> Join the team</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-5 add-left">
            <ul class="list-unstyled">
              <li><i class="fa fa-newspaper-o fa-fw"></i> Press inquiries: <a href="mailto:press@qubes-os.org">press@qubes-os.org</a></li>
              <li><i class="fa fa-briefcase fa-fw"></i> Business inquiries: <a href="mailto:business@qubes-os.org">business@qubes-os.org</a></li>
              <li><a href="/partners/"><i class="fa fa-globe fa-fw black-icon"></i> Become a Qubes partner</a></li>
              <li><a href="/hardware-certification/"><i class="fa fa-laptop fa-fw black-icon"></i> Request hardware certification</a></li>
            </ul>
          </div>
        </div>
        {{ content }}
        {% include footer.html %}
        <script src="/js/anchor.min.js"></script>
        <script>
          anchors.add();
        </script>
      </div>
  </body>
</html>
