---
layout: default
---

  <section class="wiki">
    <div class="grid">

      {% include wiki_contents_mobile.html %}
      {% include wiki_contents.html %}

      <div class="unit four-fifths">
        <article>
          <!--
          <h1>{{ page.title }}</h1>
          -->
          <div class="improve right hide-on-mobiles">
            <a href="{{ "/_edit" | prepend: page.title | prepend: "/" | prepend: site.help_url }}"><!--<i class="fa fa-pencil"></i> &nbsp;-->edit</a>
          </div>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      <div class="clear"></div>

    </div>
  </section>
